node_modules/
.idea/workspace.xml
.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/muglife.iml
.idea/vcs.xml
frontend/package-lock.json
backend/package-lock.json
.idea/inspectionProfiles/profiles_settings.xml
